.wrapper{
    display: inline-flex;
    font-size: 20px;
}

.text{
    padding: 10px 20px;
    border: 1px solid transparent;
    background-color: transparent;
}

.rounded{
    align-items: center;
    justify-content: center;
    width: 418px;
    height: 85px;
    background-color:#DD4D4D;
    border-radius: 10px; 
    border: 1px solid #DD4D4D;
    color: #fff;
}

.square{

}

.small{

}

.medium{

}

.large{

}
