.wrapper{
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
}

.inner{
    margin: 8% 37% ;
    min-width: 400px;
    max-width: 500px;
    background-color: white;
    box-shadow: 0px 0px 15px 15px #999999;
    position: fixed;
}

.close{
    display: flex;
    justify-content: flex-end;
    width: 100%;

}


.closeimage
{
    max-width: 20px;
    margin: 5px;
}

.buy{
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;

    .welcomeveggo{
        font-size: 16px;
        font-style: italic;
    }

    .image{
        height: 100%;
        width: 100%;
    }

    .title{
        font-size: 50px;
        font-weight: 300;
    }

    .label{
        font-size: 13px;
        margin-bottom: -8px;
        margin-top: 14px;
        color: #4F4F4F;
    }

    .action{
        display: flex;
        justify-content: space-around;
    }
    
    .submit{
        justify-content: center;
        margin: 20px;
        &:hover{
            user-select: none;
            cursor: pointer;
            background-color:   #006600;
        }
    }
    .error{
        font-size: 12px;
        list-style:square;
        color: crimson;
    }

    .name{
        font-size: 38px;
        font-weight: 500;
    }
    .price{
        font-size: 16px;
        width: 75%;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        color: #fff;
        background-color: #ee4b2b;
    }
}