.wrapper{
    display: flex;
    flex-direction: column;
    background-color: #FFEDCC;
}
.clear
{
    clear: both;
}
.inner{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    background-color: #FFEDCC;
}

// left
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textWelcome{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 64px;
    font-weight: 700;
}
.veggo{
    margin-top:30px;
    margin-bottom: 50px;
    margin-left: 75px;
    .veo{
        padding-bottom: 34px;
    }
}

.btnShopping{
    margin: 0 40px;
    background-color: #DD4D4D;
    border: 1px solid #DD4D4D;
}

// right
.right{
    margin-left: 250px;
    object-fit: cover;
}
.hinh1{
    padding-top: 50px;
    max-width: 250px;
}
.hinh2{
    z-index: 6;
    position: absolute;
    max-width: 300px;
    margin-top: -60px;
}
.hinh3{
    position: absolute;
    margin-top: 250px;
    margin-left: -50px;
    max-width: 230px;
}

// bottom
.threeCriteria{
    
    display: flex;
    justify-content:space-evenly;
    margin: 150px 0 69px;
}


// whattheysay
.bodyhome
{
    background-color: rgb(247,239,255);
    padding: 0px 40px 100px 40px;
}

.textWhatTheySay{
    display:block;
    width: 51%;
    margin: 40px 0 50px;
    font-size: 40px;
    font-weight: 600;
    color: rgb(75,65,65);
    text-align: justify;

    .line{
        width: inherit;
        border-top: 5px solid #2B9656;
    }
}

.whattheysay
{
    margin-top: 25px;
    padding: 64px 0;
    width: 1381;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    color: white;

}
.whattheysay_row
{
    margin-top: 32px;
    margin-bottom: 48px;
    padding-bottom: 48px;
    margin-left: -8px;
    margin-right: -8px;
  
}
.whattheysay_3column
{
    float: left;
    padding-left: 16px;
    padding-right: 16px;
    width: 33.3333%;
    
}

.whattheysayimage 
{
    padding-right: 16px;
    width: 20%;
    float: left;
    width: 20%;
}
.whattheysaytext
{
    font-size: 21px;
    margin: 50px 0;
}

.whattheysayheading
{
    font-size: 36px;
}

.whattheysay_background1
{   
    background-color: #2B9656;
    padding: 76.5px 45.86px;
    border-radius: 20px;
}

.whattheysay_background2
{
    background-color: #A859C3;
    padding: 76.5px 45.86px;
    border-radius: 20px;
}

.whattheysay_background3
{
    background-color: #4A7AD3;
    padding: 76.5px 45.86px;
    border-radius: 20px;
}

.whattheysaycustomer
{
    font-size: 20px;
    float: left;
    font-weight: 700;
    .whattheysaycustomer_opacity
    {
        font-size: 15px;
        opacity: 0.8;
    }
}




//contacts
.contact
{
    margin: 100px 0;
    width: 100%;

}
.contact_image{
    width: 33.3333%;
    float: left;
    height: 494px;

}
.contact_content
{
    float: left;
    background-color: #f8fcfa;
    border: 1px none;
    height: 494px;
    width: 66.666%;
    padding: 100px;


}
.contact_title
{
    text-align: center;
    margin-bottom: 30px;
    text-align: center;
}

.contact_text
{
    color   : #646464;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}
.contact_input
{
    float: left;
    width: 80%;
    padding: 16px ;
    background-color: #e6e6e6cf;
    border: none;
    font-size: 17px;
    outline: none;
}
.btnSubmit{
    float: left;
    background-color: #2B9656;
    width: 20%;
    justify-content: center;
    color: white;
}


footer {

    text-align: center;
	background-color: #2B9656;
	line-height: 2.6 rem;
	padding: 50px;
}
.paypal
{
    margin-top: 40px;
}

