.wrapper{
    display: flex;
    flex-direction: column;
    background-color: #FFEDCC;
}
.clear
{
    clear: both;
}
.inner{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    background-color: #FFEDCC;
}

// left
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textWelcome{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 64px;
    font-weight: 700;
}
.veggo{
    margin-top:30px;
    margin-bottom: 50px;
    margin-left: 75px;
    .veo{
        padding-bottom: 34px;
    }
}

.btnShopping{
    margin: 0 40px;
    background-color: #DD4D4D;
    border: 1px solid #DD4D4D;
}

// right
.right{
    margin-left: 250px;
    object-fit: cover;
}
.hinh1{
    padding-top: 50px;
    max-width: 250px;
}
.hinh2{
    z-index: 6;
    position: absolute;
    max-width: 300px;
    margin-top: -60px;
}
.hinh3{
    position: absolute;
    margin-top: 250px;
    margin-left: -50px;
    max-width: 230px;
}

// bottom
.threeCriteria{
    
    display: flex;
    justify-content:space-evenly;
    margin: 150px 0 69px;
}


// whattheysay
.bodyhome
{
    background-color: rgb(247,239,255);
    padding: 100px 100px;
    display: flex;
    justify-content: space-between;
}
.aboutus_image
{
    padding-right: 50px;
}
.aboutus_text
{
    text-align: center;
    padding: 0 150px;
}
.aboutus_text_1
{
    font-size: 50px;
    color: #2B9656;
    font-weight: 300;
    margin-bottom: 50px;
}
.aboutus_text_2
{
    font-size: 22px;
}